@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@font-face {
  font-family: "Krylon";
  src: url("../assets/fonts/Krylon-Regular.otf") format("opentype"), url("../assets/fonts/Krylon-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #161616;
  font-family: "Krylon", sans-serif;
  color: #ffffff;
  font-size: max(16px, 1rem);
}

h1,
h2,
h3,
h4,
h5,
p {
  font-weight: 400;
}

p {
  font-family: "Roboto", sans-serif;
}

button {
  border: none;
  background: none;
  font-family: inherit;
  cursor: pointer;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6.75rem;
  background: #000000;
  height: 86px;
}
.navbar h4,
.navbar button {
  font-size: max(16px, 1rem);
}
.navbar h2 {
  font-size: max(24px, 1.5rem);
  letter-spacing: 0.05em;
}
.navbar button {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.navbar button span {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.connect {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 8rem 0;
  position: relative;
  overflow: hidden;
}
.connect h3 {
  font-size: max(54px, 3.375rem);
}
.connect h3 a {
  color: #0ac4ff;
  text-transform: uppercase;
}
.connect img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
}
.connect_top {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-bottom: 2.5rem;
}
.connect_bottom {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 8rem;
}
.connect_bottom a,
.connect_bottom p {
  color: #ffffff;
  font-size: max(24px, 1.5rem);
  font-family: "Roboto", sans-serif;
}
.connect .circle {
  position: absolute;
  right: -13rem;
  bottom: -35rem;
}

.footer {
  padding: 8rem 6.68rem 3.75rem;
  background: #000000;
  position: relative;
  overflow: hidden;
}
.footer_hire {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.footer_hire h1 {
  color: #0ac4ff;
  font-size: max(122px, 7.625rem);
}
.footer_hire svg {
  position: absolute;
}
.footer_rights {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5rem;
}
.footer_rights h4 {
  font-size: max(16px, 1rem);
  font-family: "Roboto", sans-serif;
}
.footer .circle {
  position: absolute;
  top: -9rem;
  left: -4rem;
}

/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction=horizontal] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction=horizontal] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}

.c-scrollbar:hover {
  transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}

[data-scroll-direction=horizontal] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}

[data-scroll-direction=horizontal] .c-scrollbar:hover {
  transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
  cursor: grabbing;
}

[data-scroll-direction=horizontal] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}/*# sourceMappingURL=app.css.map */