.home {
  &_hero {
    position: relative;
    min-height: calc(100vh - 86px);
    // background-image: url(../assets/images/Pattern.png);
    background-position: center 190px;
    background-repeat: no-repeat;
    overflow: hidden;
    .path {
      position: absolute;
      z-index: -1;
    }
    &_left_circle {
      position: absolute;
      top: -9rem;
      left: -4rem;
    }
    &_right_circle {
      position: absolute;
      right: -13rem;
      bottom: -30rem;
    }
    &_content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 8rem 0;
      h1 {
        font-size: max(190px, 11.875rem);
        text-align: center;
        line-height: 195px;
        text-transform: uppercase;
        letter-spacing: 0.05em;
      }
      &_img {
        // overflow: hidden;
        // height: 30%;
      }
      &_info {
        display: flex;
        justify-content: space-between;
        margin-top: 1.875rem;
        h2 {
          color: #0af0ff;
          font-size: max(64px, 4rem);
          padding-top: 57px;
        }
        div {
          &:last-child {
            margin-top: 57px;
          }

          p {
            font-size: max(24px, 1.5rem);

            &:first-child {
              padding-bottom: 1.5rem;
            }
          }
        }
      }
    }
    &_skills {
      position: absolute;
      top: 319px;
      left: -6rem;
      transform: rotate(-90deg);
      display: flex;
      align-items: center;
      gap: 2rem;
      p {
        font-size: max(16px, 1rem);
      }
    }
    &_socials {
      position: absolute;
      top: 319px;
      right: -4rem;
      transform: rotate(-90deg);
      display: flex;
      align-items: center;
      gap: 2rem;
      list-style-type: none;
      li a {
        color: #ffffff;
        font-size: max(16px, 1rem);
      }
    }
  }
  &_works {
    background: #232323;
    border-radius: 27px;
    padding: 8rem 6.563rem;
    h1 {
      font-size: max(64px, 4rem);
      text-align: center;
      margin-bottom: 3.5rem;
    }
    &_project {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      .number {
        font-size: max(54px, 3.375rem);
      }
      h3 {
        font-size: max(28px, 1.75rem);
        letter-spacing: 0.05em;
      }
      p {
        margin-top: -1rem;
        font-size: max(16px, 1rem);
      }
      img {
        width: 100%;
      }
    }
    &_top {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 3.938rem;
      div {
        &:first-child {
          margin-top: 20%;
        }
        &:nth-child(2) {
          margin-top: 10%;
        }
      }
    }
    &_center {
      grid-template-columns: 1fr 0.75fr;
    }
    &_bottom {
      grid-template-columns: 0.75fr 1fr;
    }
    .works_flex {
      display: grid;
      align-items: center;
      margin-top: 9.5rem;
      gap: 9.938rem;
    }
  }
}
